// color
$main-bg: #F8F9FF;
$burger-bg: #000;
$main-title-c: #0B132A;
$main-c: #4F5665;


// font-size
$main-fz: 16px;
$title-sm-fz: 35px;
$title-lg-fz: 50px;

// font-weight
$font-weight: 400;
$title-font-weight: 600;

// line-heigth
$line-height: 30px;
$title-line-height-lg: 70px;
$title-line-height-sm: 50px;

// width
$max-width-container: 1140px;

// btn
$btn-light: #FFFFFF;
$btn-dark: #F53838;
